<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       "
	>

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<!-- druid连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
	   init-method="init" destroy-method="close">
	   <property name="driverClassName" value="${jdbc.driver}" />
	   <property name="url" value="${jdbc.url}" />
	   <property name="username" value="${jdbc.username}" />
	   <property name="password" value="${jdbc.password}" />
	   <!-- 初始化连接数量 -->
	   <property name="initialSize" value="5" />
	   <!-- 最大连接数 -->
	   <property name="maxActive" value="100" />
	   <!-- 最小连接数 -->
	   <property name="minIdle" value="5" />
	   <!-- 配置获取连接等待超时的时间 -->
	   <property name="maxWait" value="120000" />
	   <!-- 超过时间限制是否回收 -->
	   <property name="removeAbandoned" value="true" />
	   <!-- 超过时间限制多长 -->
	   <property name="removeAbandonedTimeout" value="1800" />
	   <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
	   <property name="timeBetweenEvictionRunsMillis" value="120000" />
	   <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
	   <property name="minEvictableIdleTimeMillis" value="300000" />
	   <!-- 用来检测连接是否有效的sql，要求是一个查询语句 -->
	   <property name="validationQuery" value="SELECT 1" />
	   <!-- 申请连接的时候检测 -->
	   <property name="testWhileIdle" value="true" />
	   <!-- 申请连接时执行validationQuery检测连接是否有效，配置为true会降低性能 -->
	   <property name="testOnBorrow" value="false" />
	   <!-- 归还连接时执行validationQuery检测连接是否有效，配置为true会降低性能 -->
	   <property name="testOnReturn" value="false" />
	   <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
	   <property name="poolPreparedStatements" value="true" />
	   <property name="maxPoolPreparedStatementPerConnectionSize"
	      value="20" />
	   <property name="defaultAutoCommit" value="false" />
	   <!-- 配置监控统计拦截的filters -->
	   <property name="filters" value="stat"/>
	</bean>
	
	<bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor" />

	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut"
          scope="prototype">
        <property name="patterns">
            <list>
                <value>org.jecklove.dao.*</value>
            </list>
        </property>
    </bean>
    
    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />
    </aop:config>  

</beans>